*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
  color: rgb(255, 255, 255);
  text-align: center;
}
.menu{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
button{
  background-color: #8dfb35;
  border-color: #ffffff;
  border-radius: 20px;
  border-style: groove;
}
body{
  background-image: url(/MeusProjetos/Portfólios/Portfólio-1/background.jpg);
  background-size: cover;
  text-align: center;
}
.fontes{
  border-radius: 20px;
  margin: 20px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #8dfb35;
  list-style: none
}
.páginaatual{
  background-color: #ffffff;
  border-color: #8dfb35;
  border-radius: 20px;
  border-style: groove;
}